        .icon-block {
            padding: 0 15px;
        }

        .icon-block .material-icons {
            font-size: inherit;
        }

        body {
            background: #292929;
        }

        #test {
            position: fixed;
            width: 100%;
            height: 100vh;
            text-align: center;
            top: 25%;
            text-align: center;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-delay: 0s;
            animation-delay: 0s;
            -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
        }

        #container {
            position: relative;
        }